﻿@using Commercial_Invoice_CodeLib.Model

@{
   
}

<partial name="_InvoiceViewPartial"/>
<!-- Search bits-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <partial name="_SearchBarViewPartial" model="new AdvancedQuery()"/>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-3">
            <partial name="_SearchMainResultsPartial" />
        </main>
    </div>

</div>





<form id="FakeForm" method="post" action="" enctype="application/x-www-form-urlencoded" target="_new">
    @Html.AntiForgeryToken()
    <input type="hidden" name="data" value=""/>
</form>


@section Scripts {
    <script>
        var form = $('#searchForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var $table = $('#resultsTable');
        var $exportSelected = $('#exportSelectedInvoices');
        var $viewSelected = $('#viewSelectedInvoices');


        function showSingleInvoice(parcelId) {
            if (parcelId > 0) {

                var url = '@Url.Action("GetInvoice", "Invoice")?parcelId=' + parcelId;
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'html',
                    success: function(res) {
                        // get the ajax response data
                        var data = res.body;
                        // update modal content
                        $('.modal-body').html(res);
                        // show modal
                        $('#myModal').modal('show');

                    },
                    error: function(request, status, error) {
                        console.log(error);
                        alert('An error has occurred');
                   

                    }
                });
            }


        }

        window.operateEvents = {
            'click .viewInvoice': function(e, value, row, index) {
                showSingleInvoice(row.parcelId);
            }
        }


        $($table).on('click-row.bs.table',
            function(row, $element, field) {
                showSingleInvoice($element.parcelId);
            });


        $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table',
            function() {
                $exportSelected.prop('disabled', !$table.bootstrapTable('getSelections').length);
                $viewSelected.prop('disabled', !$table.bootstrapTable('getSelections').length);
            });






        $(function() {

            $(window).resize(function() {
                $('#resultsTable').bootstrapTable('resetView');
            });

            var start = moment().subtract(2, 'weeks');
            var end = moment();


            $viewSelected.click(function() {
                var selections = $table.bootstrapTable('getSelections');
                var selectedIds = selections.map(value => value.parcelId);
                var postData = JSON.stringify(selectedIds);

                var url = '@Url.Action("GetInvoices", "Invoice")';

                $.ajax({
                    type: "POST",
                    url: url,
                    data:
                        { data: postData },
                    dataType: 'html',
                    beforeSend: function() { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                        console.log('remove hidden');
                        $('#loader').removeClass('hidden');
                    },
                    success: function(res) {
                        // get the ajax response data
                        var data = res.body;
                        // update modal content
                        $('.modal-body').html(res);
                        // show modal
                        $('#myModal').modal('show');

                    },
                    error: function(request, status, error) {
                        console.log(error);
                        alert('An error has occurred');

                    },
                    complete: function() { 
                        $('#loader').addClass('hidden');
                    }
                });


            });


            $exportSelected.click(function() {
                var selections = $table.bootstrapTable('getSelections');
                var selectedIds = selections.map(value => value.parcelId);
                var postData = JSON.stringify(selectedIds);
                var url = '@Url.Action("GetInvoicesAsPdf", "Invoice")';
                post(postData, url);
 
            });

            $('#exportAllInvoices').click(function() {
                var url = '@Url.Action("ExportAll", "Invoice")';
                var postData = JSON.stringify($postedData);

                post(postData, url);

            });

            $('#viewAllInvoices').click(function() {
                var url = '@Url.Action("ViewAll", "Invoice")';
                var postData = JSON.stringify($postedData);


                $.ajax({
                    type: "POST",
                    url: url,
                    data: { data: postData },
                    //dataType: 'html',
                    contentType: 'application/x-www-form-urlencoded',
                    beforeSend: function() { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                        $('#loader').removeClass('hidden');
                    },
                    success: function(res) {
                        // get the ajax response data
                        var data = res.body;
                        // update modal content
                        $('.modal-body').html(res);
                        // show modal
                        $('#myModal').modal('show');

                    },
                    error: function(request, status, error) {
                        console.log(error);
                        alert('An error has occurred');
                        //console.log("ajax call went wrong:" + request.responseText);

                    },
                    complete: function() { // Set our complete callback, adding the .hidden class and hiding the spinner.
                        $('#loader').addClass('hidden');
                    }
                });

            });


            $("#searchForm").submit(function(event) {
                event.preventDefault();
                storeQueryParams();

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: //{
                        // __RequestVerificationToken: token,
                        $postedData,
                    // },
                    contentType: 'application/x-www-form-urlencoded',
                    beforeSend: function() { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                        $('#loader').removeClass('hidden');
                    },
                    success: function(result) {
                        $("#searchForm").clearErrors();
                     if (result.success) {

                            var tableWrapper = $('#tableWrapper');
                            if (tableWrapper.is(':hidden'))
                                tableWrapper.fadeIn(1000);
                            $table.bootstrapTable('refreshOptions',
                                {
                                    url: '@Url.Action("Search", "Home")',
                                    method: 'post',
                                    contentType: 'application/x-www-form-urlencoded',

                                }
                            );
                        } else {

                            $('#searchForm').html(result);

                        }
                    },
                    complete: function(data) {
                        rebindControls();
                        var fromDate = moment($postedData.DateFrom);
                        var toDate = moment($postedData.DateTo);
                        $('#roadDateFrom').data('daterangepicker').setStartDate(fromDate);
                        $('#airDateFrom').data('daterangepicker').setStartDate(fromDate);

                        $('#roadDateTo').data('daterangepicker').setStartDate(toDate);
                        $('#airDateTo').data('daterangepicker').setStartDate(toDate);
                        $('#loader').addClass('hidden');
                    }
                });
                return false;

            });


            rebindControls();

    

        });


        function rebindControls() {


            if ($('#UseAdvancedSearch').val() == 'true') {
                $('#advancedCollapse').collapse('show');
            };

            $('#advancedCollapse').on('hide.bs.collapse',
                function() {
                    $('#advancedToggle').html('Advanced Search<i class="fa fa-angle-down"></i>');
                    $('#UseAdvancedSearch').val('false');
                });
            $('#advancedCollapse').on('show.bs.collapse',
                function() {
                    $('#advancedToggle').html('Simple Search<i class="fa fa-angle-up"></i>');
                    $('#UseAdvancedSearch').val('true');
                });

            if ($('#TransportType').val() == 'Road') {
                $('#pills-road-tab').tab('show');
            } else {
                $('#pills-air-tab').tab('show');
            }

            $('#pills-road-tab').on('show.bs.tab',
                function() {

                    $('#TransportType').val('Road');
                });

            $('#pills-air-tab').on('show.bs.tab',
                function() {

                    $('#TransportType').val('Air');
                });


            $('#airSendersNameSearchText').autoComplete({
                resolver: 'custom',
                events: {
                    search: function(qry, callback) {
                        // let's do a custom ajax call
                        $.ajax(
                            '@Url.Action("SearchParentRetailer", "Lookup")',
                            {
                                data: { 'searchQuery': qry },
                                method: 'post',
                                contentType: 'application/x-www-form-urlencoded'
                            }
                        ).done(function(res) {

                            callback(res);
                        });
                    }
                }
            });


            $('#roadSendersNameSearchText').autoComplete({
                resolver: 'custom',
                events: {
                    search: function(qry, callback) {
                        // let's do a custom ajax call
                        $.ajax(
                            '@Url.Action("SearchParentRetailer", "Lookup")',
                            {
                                data: { 'searchQuery': qry },
                                method: 'post',
                                contentType: 'application/x-www-form-urlencoded'
                            }
                        ).done(function(res) {

                            callback(res);
                        });
                    }
                }
            });

            $('#roadDateFrom').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    drops: "up",
                    autoUpdateInput:true,
                    minYear: parseInt(moment().subtract(7, 'years').format('YYYY'), 10),
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    startDate: moment().subtract(2, 'weeks').format('DD-MM-YYYY'),
                    endDate: moment().subtract(2, 'weeks').format('DD-MM-YYYY'),
                    locale: {
                        format: "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                } //,
                //function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
                //}
            );

            $('#roadDateTo').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    drops: "up",
                    autoUpdateInput: true,
                    minYear: parseInt(moment().subtract(7, 'years').format('YYYY'), 10),
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    startDate: moment().format('DD-MM-YYYY'),
                    endDate: moment().format('DD-MM-YYYY'),
                    locale: {
                        format: "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                } //,
                //function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
                //}
            );

            
            $('#airDateFrom').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    drops: "up",
                autoUpdateInput: true,
                    minYear: parseInt(moment().subtract(7, 'years').format('YYYY'), 10),
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    startDate: moment().subtract(2, 'weeks').format("DD/MM/YYYY"),
                    endDate: moment().subtract(2, 'weeks').format("DD/MM/YYYY"),
                    locale: {
                        format: "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                } //,
                //function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
                //}
            );

            $('#airDateTo').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    drops: "up",
                autoUpdateInput: true,
                    minYear: parseInt(moment().subtract(7, 'years').format('YYYY'), 10),
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    startDate: moment().format("DD/MM/YYYY"),
                    endDate: moment().format("DD/MM/YYYY"),
                    locale: {
                        format: "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                } //,
                //function(start, end, label) {

                //}
            );

            $.getJSON('@Url.Action("GetCountries", "Lookup")',
                { __RequestVerificationToken: token },
                function(data) {
                    $countries = data;
                    var roadCountry = $('#roadCountrySelect').val();
                    var airCountry = $('#airCountrySelect').val();
                    $('#roadCountrySelect').empty();
                    $('#airCountrySelect').empty();
                    $.each($countries,
                        function(key, value) {

                            $('#roadCountrySelect')
                                .append($("<option></option>")
                                    .attr("value", value.value)
                                    .text(value.label));


                            $('#airCountrySelect')
                                .append($("<option></option>")
                                    .attr("value", value.value)
                                    .text(value.label));
                        });

                    $('#roadCountrySelect').val(roadCountry);
                    $('#airCountrySelect').val(airCountry);

                    $('#roadCountrySelect').select2({
                        
                    });
                    $('#airCountrySelect').select2({
                        
                    
                });


        });
    };


    

    </script>




}