/* set up variables for the colours here */
:root{
    --black:#1a171b;
    --pureyellow:#ffed00;
    --warmpurple:#512698;
    --brightorange:#f78f28;
    --brightred:#f0493f;
    --lightpurple:#a04c9d;
    --springgreen:#6fbf4a;
    --turquoise:#00b5ad;
    --deepemerald:#00866f;
    --cyanblue:#00b2dd;
    --azureblue:#0083a9;
    --deepblue:#005da6;
    --airforcedarkgrey1:#43525a;
    --airforcedarkgrey2:#6b7b84;
    --airforcedarkgrey3:#95a3ab;
    --airforcedarkgrey4:#c4ced4;
    --airforcedarkgrey5:#e4e9ec;

}
@font-face {font-family: "Proxima Nova 08";
    src: url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.eot");/* IE9 Compat Modes */
    src: url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.woff2") format("woff2"),
    url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.woff") format("woff"),
    url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.ttf") format("truetype"),
    url("/assets/font-face/0e43789441fd9a44c0d0e0b25641f953.svg#Proxima Nova") format("svg"); }

@font-face {font-family: "Proxima Nova";
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.eot");
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix") format("embedded-opentype");
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.woff2") format("woff2");
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.woff") format("woff");
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.ttf") format("truetype");
    src: url("/assets/font-face/bf9f5d50c1b928ff21436517a1a95ad9.svg#Proxima Nova") format("svg");
}




body {
    font-family:proxima-nova,"Proxima Nova 08",sans-serif;
    background-color:var(--airforcedarkgrey4);
    /*background-color: #00838F*/
}

.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #000 !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}

#logo{
    height:104px;
    width:255px
}

.btn-primary{
    background-color: var(--azureblue);
    border-color: #3a8b75;
}
.btn-default{
    background-color: var(--airforcedarkgrey5);
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{
    background-color: var(--airforcedarkgrey3);
    color: #fff;
}


.btn-primary.btn-outline{
    color: #3a8c95;
    background-color: transparent;
}


.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary{
    background-color: var(--cyanblue);
}

div.bootstrap-table.bootstrap4{
    width:99%;
    padding-left: 1%;
}

.asendiaYellowBackground
{
    background-color:var(--pureyellow);
}
.asendiaDeepBlueBackground
{
    background-color: var(--deepblue);
}

.asendiaAzureBlueBackground {
    background-color: var(--azureblue) !important;
    color: #fff !important;
}

.asendiaWarmPurpleBackground {
    background-color: var(--warmpurple) !important;
    color: #fff !important;
}

.asendiaAirforceDarkGrey1 {
    background-color: var(--airforcedarkgrey1) !important;
    color: #fff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.sidebar-sticky {
    background-color: var(--airforcedarkgrey5);
}

.field-validation-error {
    display: block !important;
    margin-left: 1rem !important;
    font-size: .8rem;
    font-weight: 600;
}


/*
    LOADING
*/
/*Hidden class for adding and removing*/
.lds-dual-ring.hidden {
    display: none;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 1035;
    opacity: 1;
    transition: all 0.5s;
}

/*Spinner Styles*/
.lds-dual-ring {
    display: inline-block;
    /*width: 80px;
    height: 80px;*/
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.select2-container {
    margin: 0 .5rem 0 .5rem !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    border-width: 0;
    border: 1px solid #ced4da !important;
    width: 100% !important;
}

.select2-selection--multiple{
    border: 0px solid #aaa !important;
    /*border-width: 0 !important;*/
}
/*
    LOADING
*/