﻿@using Microsoft.AspNetCore.Http
@using Commercial_Invoice_CodeLib.Helpers
@using System.Security.Claims
@using Commercial_Invoice_CodeLib.Configuration
@using Commercial_Invoice_CodeLib.Service
@inject Commercial_Invoice_CodeLib.Service.ILookupService _lookupService
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

@{
    string commaSeperatedBranchNames = string.Empty;
    bool.TryParse(_configuration.GetSection("AppSettings")["ShowBranches"], out var showBranches);

    if (showBranches)
    {
        var branchIds = ((ClaimsIdentity) User.Identity)?.Claims.GetBranches().Select(int.Parse);
        var branchNames = await _lookupService.GetBranchNames(branchIds);
        commaSeperatedBranchNames = String.Join(',', branchNames);
    }
}

<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link">@User.Identity?.Name</a>
    </li>

    @if (showBranches)
    {
        <li class="nav-item">
            <a class="nav-link">@commaSeperatedBranchNames</a>
        </li>
    }
        <li class="nav-item">
        <form class="form-inline" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
            @Html.AntiForgeryToken()

            <button type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>

    @*  else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }*@
</ul>