﻿@model Commercial_Invoice_CodeLib.Model.AdvancedQuery
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ValidateParameters"
      id="searchForm" class="">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UseAdvancedSearch" />
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1">
        Search for Invoices
    </h5>
    <a aria-controls="collapse" aria-expanded="false" class="advanced" data-toggle="collapse" data-target="#advancedCollapse"
       role="button" id="advancedToggle">
        Advanced Search<i class="fa fa-angle-down"></i>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">

            <label for="parcelSearchText" class="sidebar-label">
                Parcel/ Consignment/ Order Ref
            </label>

            <input Placeholder="" class="form-control form-control-sm" id="parcelSearchText"
                   type="text" asp-for="ParcelConsignmentOrderReference">
            <span asp-validation-for="ParcelConsignmentOrderReference" class="text-danger"></span>

        </li>

    </ul>
    @Html.HiddenFor(x=>x.TransportType)
@*<div id="advancedCollapse" class="collapse">
        <div class="form-check form-check-inline ml-3 mt-2">
            <label class="form-check-label" for="roadCheckbox">
                <input class="form-check-input" type="radio" id="roadCheckbox" name="roadAirCheckbox" checked="checked" data-parent="#searchGroup" asp-for="TransportType" href="#roadSearch" value="1">
                Road Haul
            </label>
        </div>
        <div class="form-check form-check-inline">

            <label class="form-check-label" for="airCheckbox">
                <input class="form-check-input" type="radio" id="airCheckbox" name="roadAirCheckbox" data-parent="#searchGroup" href="#airSearch" asp-for="TransportType" value="2">
                Air
            </label>
        </div>
       <div id="searchGroup">
            <div id="roadSearch" class="collapse show">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <label for="parcelSearchText" class="sidebar-label">
                            Consignee Name
                        </label>
                        <input class="form-control form-control-sm" id="roadReceiverNameSearchText"
                               placeholder="" type="text" asp-for="ReceiversName">
                    </li>
                    <li class="nav-item">
                        <label for="parcelSearchText" class="sidebar-label">
                            Senders Name
                        </label>
                        <input class="form-control form-control-sm" id="roadSendersNameSearchText" placeholder=""
                               type="text" asp-for="SendersName">
                    </li>
                    <li class="nav-item">
                        <label for="roadCountrySelect" class="sidebar-label">
                            Country
                        </label>
                        <select class="form-control form-control-sm" id="roadCountrySelect" placeholder="Please select a country"
                                type="" multiple="multiple" asp-for="CountryIds">
                        </select>
                    </li>
                    <li class="nav-item">
                        <label for="vehicleRegistrationSearchText" class="sidebar-label">
                            Vehicle Registration
                        </label>
                        <input class="form-control form-control-sm" id="vehicleRegistrationSearchText"
                               placeholder="" type="text" asp-for="VehicleRegistration">
                        <span asp-validation-for="VehicleRegistration" class="text-danger"></span>
                    </li>
                    <li class="nav-item">
                        <label for="trailerSearchText" class="sidebar-label">
                            Trailer Number
                        </label>
                        <input class="form-control form-control-sm" id="trailerSearchText"
                               placeholder="" type="text" asp-for="TrailerNumber">
                    </li>
                    <li class="nav-item">
                        <label for="parcelSearchText" class="sidebar-label">
                            Seal Number
                        </label>
                        <input class="form-control form-control-sm" id="sealSearchText" placeholder=""
                               type="text" asp-for="SealNumber">
                    </li>


                    <li class="nav-item">
                        <label class="sidebar-label">
                            Report Date Range
                        </label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                            <input name="roadDateFrom" type="text" id="roadDateFrom" asp-for="DateFrom" class="form-control form-control-sm ml-0" />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                            <input type="text" name="roadDateTo" id="roadDateTo" asp-for="DateTo" class="form-control form-control-sm ml-0" />
                        </div>
                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                        <span asp-validation-for="DateTo" class="text-danger"></span>
                    </li>
                </ul>
            </div>

            <div id="airSearch" class="collapse">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <label for="parcelSearchText" class="sidebar-label">
                            Receivers Name
                        </label>
                        <input class="form-control form-control-sm" id="receiverNameSearchText"
                               placeholder="" type="text" asp-for="ReceiversName">
                    </li>
                    <li class="nav-item">
                        <label for="airSendersNameSearchText" class="sidebar-label">
                            Senders Name
                        </label>
                        <input class="form-control form-control-sm" id="airSendersNameSearchText" placeholder=""
                               type="text" asp-for="SendersName">
                    </li>

                    <li class="nav-item">
                        <label for="airCountrySelect" class="sidebar-label">
                            Country
                        </label>
                        <select class="form-control form-control-sm" id="airCountrySelect" placeholder="Please select a country"
                                type="" multiple="multiple"  asp-for="CountryIds">
                        </select>
                    </li>

                    <li class="nav-item">
                        <label for="mawbSearchText" class="sidebar-label">
                            Master Airway Bill Number
                        </label>
                        <input class="form-control form-control-sm" id="mawbSearchText" placeholder=""
                               type="text" asp-for="MawbNumber">
                        <span asp-validation-for="MawbNumber" class="text-danger"></span>
                    </li>

                    <li class="nav-item">
                        <label for="airlineSearchText" class="sidebar-label">
                            Airline
                        </label>
                        <input class="form-control form-control-sm" id="airlineSearchText" placeholder=""
                               type="text" asp-for="Airline">
                    </li>

                    <li class="nav-item">
                        <label for="flightSearchText" class="sidebar-label">
                            Flight Number
                        </label>
                        <input class="form-control form-control-sm" id="flightSearchText" placeholder=""
                               type="text" asp-for="FlightNumber">
                    </li>

                    <li class="nav-item">
                        <label class="sidebar-label">
                            Report Date Range
                        </label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                            <input name="airDateFrom" type="text" id="airDateFrom" asp-for="DateFrom" class="form-control form-control-sm ml-0" />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                            <input type="text" name="airDateTo" id="airDateTo" asp-for="DateTo" class="form-control form-control-sm ml-0" />
                        </div>
                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                        <span asp-validation-for="DateTo" class="text-danger"></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>*@
    
<div id="advancedCollapse" class="collapse">
    <ul class="nav nav-tabs  justify-content-center mb-2 mt-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-road-tab" data-toggle="pill" href="#pills-road" role="tab" aria-controls="pills-road" aria-selected="true">Road Haulage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-air-tab" data-toggle="pill" href="#pills-air" role="tab" aria-controls="pills-air" aria-selected="false">Air</a>
        </li>

    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-road" role="tabpanel" aria-labelledby="pills-road-tab">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <label for="parcelSearchText" class="sidebar-label">
                        Consignee Name
                    </label>
                    <input class="form-control form-control-sm" id="roadReceiverNameSearchText"
                           placeholder="" type="text" asp-for="ReceiversName">
                </li>
                <li class="nav-item">
                    <label for="parcelSearchText" class="sidebar-label">
                        Senders Name
                    </label>
                    <input class="form-control form-control-sm" id="roadSendersNameSearchText" placeholder=""
                           type="text" asp-for="SendersName" autocomplete="off">
                </li>
                <li class="nav-item">
                    <label for="roadCountrySelect" class="sidebar-label">
                        Country
                    </label>
                    <select class="form-control form-control-sm" id="roadCountrySelect" placeholder="Please select a country"
                            type="" multiple="multiple" asp-for="CountryIds"  autocomplete="off">
                    </select>
                </li>
                <li class="nav-item">
                    <label for="vehicleRegistrationSearchText" class="sidebar-label">
                        Vehicle Registration
                    </label>
                    <input class="form-control form-control-sm" id="vehicleRegistrationSearchText"
                           placeholder="" type="text" asp-for="VehicleRegistration">
                    <span asp-validation-for="VehicleRegistration" class="text-danger"></span>
                </li>
                <li class="nav-item">
                    <label for="trailerSearchText" class="sidebar-label">
                        Trailer Number
                    </label>
                    <input class="form-control form-control-sm" id="trailerSearchText"
                           placeholder="" type="text" asp-for="TrailerNumber">
                </li>
                <li class="nav-item">
                    <label for="parcelSearchText" class="sidebar-label">
                        Seal Number
                    </label>
                    <input class="form-control form-control-sm" id="sealSearchText" placeholder=""
                           type="text" asp-for="SealNumber">
                </li>


                <li class="nav-item">
                    <label class="sidebar-label">
                        Report Date Range
                    </label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                        <input name="roadDateFrom" type="text" id="roadDateFrom" asp-for="DateFrom" class="form-control form-control-sm ml-0" />
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="text" name="roadDateTo" id="roadDateTo" asp-for="DateTo" class="form-control form-control-sm ml-0" />
                    </div>
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </li>
            </ul>



        </div>
        <div class="tab-pane fade" id="pills-air" role="tabpanel" aria-labelledby="pills-air-tab">


            <ul class="nav flex-column">

                <li class="nav-item">
                    <label for="parcelSearchText" class="sidebar-label">
                        Consignee Name
                    </label>
                    <input class="form-control form-control-sm" id="airReceiverNameSearchText"
                           placeholder="" type="text" asp-for="ReceiversName">
                </li>
                <li class="nav-item">
                    <label for="airSendersNameSearchText" class="sidebar-label">
                        Senders Name
                    </label>
                    <input class="form-control form-control-sm" id="airSendersNameSearchText" placeholder=""
                           type="text" asp-for="SendersName"  autocomplete="off">
                </li>

                <li class="nav-item">
                    <label for="airCountrySelect" class="sidebar-label">
                        Country
                    </label>
                    <select class="form-control form-control-sm" id="airCountrySelect" placeholder="Please select a country"
                            type="" multiple="multiple" asp-for="CountryIds"  autocomplete="off">
                    </select>
                </li>

                <li class="nav-item">
                    <label for="mawbSearchText" class="sidebar-label">
                        Master Airway Bill Number
                    </label>
                    <input class="form-control form-control-sm" id="mawbSearchText" placeholder=""
                           type="text" asp-for="MawbNumber">
                    <span asp-validation-for="MawbNumber" class="text-danger"></span>
                </li>

                <li class="nav-item">
                    <label for="airlineSearchText" class="sidebar-label">
                        Airline
                    </label>
                    <input class="form-control form-control-sm" id="airlineSearchText" placeholder=""
                           type="text" asp-for="Airline">
                </li>

                <li class="nav-item">
                    <label for="flightSearchText" class="sidebar-label">
                        Flight Number
                    </label>
                    <input class="form-control form-control-sm" id="flightSearchText" placeholder=""
                           type="text" asp-for="FlightNumber">
                </li>

                <li class="nav-item">
                    <label class="sidebar-label">
                        Report Date Range
                    </label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                        <input name="airDateFrom" type="text" id="airDateFrom" asp-for="DateFrom" class="form-control form-control-sm ml-0" />
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="text" name="airDateTo" id="airDateTo" asp-for="DateTo" class="form-control form-control-sm ml-0" />
                    </div>
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </li>
            </ul>



        </div>
    </div>
</div>

    <div class="row  mb-1 ml-1">
        <button class="btn btn-sm btn-outline-secondary d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ml-3" id="standardSearch" type="submit">Search..</button>
        <button class="btn btn-sm btn-outline-secondary d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ml-3" id="searchReset" onclick="resetForm();" type="reset">Reset..</button>
    </div>

    <!-- Search bits-->
</form>

@functions
{
    public static string BooleanToString(bool value)
    {
        if (value != true) return "false";
        else return "true";
    }
}

    
      



