﻿@model Commercial_Invoice_CodeLib.Model.AdvancedQuery
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Search" id="searchForm">
    @Html.AntiForgeryToken()
    <div class="card p-3 py-4">
        <h5>Search for Invoices</h5>
        <div class="row g-3 mt-2">

            <div class="col-md-9">
                <input Placeholder="Enter one or more Parcel/ Consignment / Order Reference" class="form-control" id="parcelSearchText"
                       type="text" asp-for="ParcelConsignmentOrderReference">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary float-left" id="standardSearch" type="submit">Search..</button>
            </div>
        </div>
        <div class="mt-3">
            <a aria-controls="collapse" aria-expanded="false" class="advanced" data-toggle="collapse"
               href="#collapse" role="button" id="advancedToggle">
                Advanced Search<i class="fa fa-angle-down"></i>
            </a>
            <input type="hidden" asp-for="UseAdvancedSearch"/>
            <div class="collapse" id="collapse">
                <div class="card card-body ">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="vehicleRegistrationSearchText"
                                   placeholder="Vehicle Registration" type="text" asp-for="VehicleRegistration">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="trailerSearchText"
                                   placeholder="Trailer Number" type="text" asp-for="TrailerNumber">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="sealSearchText" placeholder="Seal"
                                   type="text" asp-for="SealNumber">
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="sendersNameSearchText" placeholder="Senders Name" 
                                   type="text" asp-for="SendersName">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="receiverNameSearchText"
                                   placeholder="Receiver Name" type="text" asp-for="ReceiversName">
                        </div>
                        <div class="col-md-4">
                            <div class="form-control" id="reportDateRange">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span>Select Date Range:</span>&nbsp;<i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <input type="hidden" asp-for="DateFrom"/>
                        <input type="hidden" asp-for="DateTo"/>
                    </div>
                    <div class="row">&nbsp;</div>


                </div>


            </div>

        </div>
    </div>
    <!-- Search bits-->
</form>


